:root {
  --color-primario: #4e6e81;
  --color-primario-oscuro: #2e3840;
  --color-texto: #f9dbbb;
  --color-secundario: #ff0303;
}



* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"),
    url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: local("Montserrat-Medium"),
    url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  src: local("Montserrat-Light"),
    url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Black";
  src: local("Montserrat-Black"),
    url("../assets/fonts/Montserrat-Black.ttf") format("truetype");
}

body {
  scroll-behavior: smooth;
  background: linear-gradient(90deg, #2E3740 7%, #345664 98%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  font-family: Montserrat-Light;
  color: var(--color-texto);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "main"
  "footer"
  "menu-nav";
}


.main{
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
}

.footer{
  grid-area: footer
}

.fixed-nav{
  grid-area: menu-nav;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.main-nav{
    background-color: var(--color-primario);
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
}

.main-section{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  min-height:calc(100vh - 6em)
}

.main-section__div{
  width: 70%;
}

.main-section__saludo{
  margin-top: 0;
}

.main-section__lightsaber{
  max-width: 100%
}

.main-section__title{
  font-family: Montserrat-Black;
  margin: 0;
}

.main-nav__logo{
  display: flex;
  justify-content: center;
}

.main-nav__logo__item__link{
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Montserrat-Black;
  font-size: 1.5rem;
  color: var(--color-texto);
}

.logo-letra-g{
  color: var(--color-secundario);
}

.logo-letra-o{
  color: var(--color-primario-oscuro);
}

.main-nav__menu{
  padding-left: 0;
  list-style: none;
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(max-content,1fr));
  justify-items: center;

  align-items: center;
  font-family: Montserrat-Black;
  font-size: 0.9rem;
}

.main-nav__menu__item{
  width: 100%;
  height: 100%;
  padding: 1.3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav__menu__item:hover{
  background-color: var(--color-secundario);
  cursor: pointer;
}

.main-nav__menu__item__link,
.main-nav__logo__item__link{
    text-decoration: none;
}

.main-nav__menu__item__link__text{
  color: var(--color-texto);
  align-self: center;
  justify-self: center;
}

.main-nav__menu__item:hover .main-nav__menu__item__link__text{
  color: var(--color-primario-oscuro);
}

.work-section,
.about-me-section,
.contact-section{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1em;
}

.work-section__title,
.about-me-section__title,
.contact-section__title,
.about-me-section__subtitle,
.contact-section__info__email,
.contact-section__info__tel{
  font-family:  Montserrat-Black;
  width: 90%;
  justify-self: center;
  margin-bottom: 0;
}

.work-section__card,
.about-me-section__description{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center
}

.work-section__card{
  background-color: var(--color-primario-oscuro);
}

.work-section__card__title,
.work-section__card__cargo,
.work-section__card__link
{
  font-family:  Montserrat-Black;
}

.work-section__card__title{
  margin-bottom: 0;
}

.work-section__card__date{
  margin-top: 0;
}

.work-section__card__div,
.contact-section__info{
  width: 90%;
}

.work-section__card__img,
.about-me-section__description__img{
  max-width: 100%;
}

.work-section__card__link{
  color: var(--color-secundario);
}

.about-me-section__description__text{
  margin-top: 0;
}

.about-me-section__description__button{
  align-self: start;
  margin-bottom: 1em;
  padding: 1em;
  color: var(--color-texto);
  background-color: var(--color-primario-oscuro);
  font-family: Montserrat-Black;
  border: 0;
}

.about-me-section__description__button:hover{
  color: var(--color-primario-oscuro);
  background-color: var(--color-secundario);
}

.about-me-section__description__img{
  max-height: 60%;
}

.about-me-habilidades__card{
  display: flex;
  justify-content: start;
  width: 100%;
  align-items: center;
  
}

.about-me-habilidades {
  display: flex;
  width: 90%;
  align-items: center;
  background-color: var(--color-primario-oscuro);
}

.about-me-habilidades__card__icon, .about-me-aptitudes__card__icon{
  padding: 1em;
}

.contact-section__info__tel{
  margin-top: 0;
}


/*Formulario de contacto*/
.contact-section__form{
  width: 90%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0em 0em;
}

.container h2 {
  width: 100%;
  color: var(--color-secundario);
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}

.container .row100 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr
}

.container .row100 .col {
  position: relative;
  min-width: 50%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.container .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: var(--color-secundario);
}

.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: var(--color-primario-oscuro);
}

.container .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}

.container .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--color-secundario);
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line {
  height: 100%;
}

.container .row100 .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.container .row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}

.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}

.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}

input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: var(--color-primario-oscuro);
  color: var(--color-texto);
  font-size: 18px;
  border-radius: 2px;
  font-family: Montserrat-Black;
}

input[type="text"]{
  font-family: Montserrat-Medium;
}

.btn-enviar:hover{
  background: var(--color-secundario);
  color: var(--color-primario-oscuro);
}


.text{
  font-family: Montserrat-Black;
}

.footer{
  margin-top: 2em;
}

.footer-section{
  display: flex;
  justify-content: center;
  background-color: var(--color-primario-oscuro);
  color: var(--color-texto)
}